---
title: Home
---

<div class="home">

	<h2><img src="/images/github.svg" alt="github icon">f2etw/f2etw.github.io</h2>
	<ul>
		<li>
			<a href="https://github.com/f2etw/f2etw.github.io">
				<p> Front-End Developers Taiwan<br>
					這是本網站的 Github，若你對這個網站有任何意見、想法，我們隨時歡迎你的貢獻 &amp; PR！
				</p>
			</a>
		</li>
	</ul>

	{% if site.posts != empty %}
	<ul>
		{% for post in site.posts %}
			<li>
				<a href="{{ post.url}}">
					<time>{{ post.date | date: "%Y-%m-%d" }}</time>
					{{ post.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
	{% endif %}

	<h2><a href="https://www.facebook.com/groups/f2e.tw"><img src="/images/facebook.svg" alt="facebook icon">Front-End Developers Taiwan 社群動態</a></h2>
	<ul id="fb_posts">
		<li>
			<a href="https://www.facebook.com/groups/f2e.tw">
				<p>這是 f2etw 的 facebook 社團，歡迎加入社群！可以在這徵才、詢問問題，讓前端在臺灣更加成熟！</p>
			</a>
		</li>
	</ul>

	<script>
	fetch('https://graph.facebook.com/521085554595481/feed?access_token=1385521591772831|lMcuWxJls6aEK-IwR0Z-_AQVMV4').then(function(response) {
		return response.json();
	})
	.then(function(posts) {

		var content = '', msg;

		posts.data.forEach(function(post, index, array) {

		if (post.message) {
			msg = post.message;
			msg = msg.replace(/&/g, "&amp;")
					.replace(/</g, "&lt;")
					.replace(/>/g, "&gt;")
					.replace(/"/g, "&quot;")
					.replace(/'/g, "&#039;");
			content += `
				<li>
					<img src="https://graph.facebook.com/${post.from.id}/picture?width=60&height=60" alt="${post.from.name}" />
					<p><a href="https://facebook.com/${post.id} " target="_blank">${msg}</a></p>
				</li>
				`;
			}
		});

		return content;
	})
	.catch(function(err) {
		return "<p>請點選上方社團連結以觀看社團貼文！</p>";
	}).then(function (content) {
		document.getElementById('fb_posts').innerHTML += content;
	});
	</script>

</div>
