---
title: Home
---

<div class="home">
	<ul>
		<li>
			<a href="https://www.facebook.com/groups/f2e.tw">
				<img src="/images/facebook.svg" alt="facebook icon">Front-End Developers Taiwan
				<p>這是 f2etw 的 facebook 社團，歡迎加入社群！可以在這徵才、詢問問題，讓前端在臺灣更加成熟！</p>
			</a>
		</li>
		<li>
			<a href="https://github.com/f2etw/f2etw.github.io">
				<img src="/images/github.svg" alt="github icon">f2etw/f2etw.github.io
				<p>這是本網站的 Github，若你對這個網站有任何意見、想法，我們隨時歡迎你的貢獻 & PR！</p>
			</a>
		</li>
	</ul>

	{% if site.posts != empty %}
	<ul>
		{% for post in site.posts %}
			<li>
				<a href="{{ post.url}}">
					<time>{{ post.date | date: "%Y-%m-%d" }}</time>
					{{ post.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
