---
# enable jekyll to process, please do not remove these lines.
---
@import 'color';
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);

body {
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	margin: 0 auto;
	font-family:  'cwTeXHei', "Arial", "微軟正黑體", "Microsoft Jhenghei" ;
	min-height: 100vh;
	width: 100%;
	background-color: $member__tile-bgc;

	> header {
		background-image: url('/images/banner.jpg');
		background-color: #ddd;
		padding-top: 150px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	> main {
		-webkit-flex: 1;
		flex: 1;
		max-width: 1280px;
		margin: 0 auto;
	}

	> footer {
		text-align: center;
		padding: 2em;
		color: $white;
		background-color: #127158;
	}
}

h1 {
	text-align: center;
}

a {
	text-decoration:none;
}

#navigation {
	background-color: $main-color;
	margin: 0;
	padding: 0;
	color: $white;
	font-size: 1.2em;
	text-align: center;

	> li {
		list-style-type: none;
		display: inline-block;
		margin: 0 1em;
		padding: .2em .5em;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}

.home {
	text-align: center;
	min-height: 400px;

	h2 {
		padding: 1em 6%;
		margin: 1em auto 0;
		width: 50%;
		background: $main-color;
		color: #fff;
		font-size: 1.3em;
		font-weight: 400;
		border: 1px solid #fff;
		border-bottom: 0;

		a {
			color: $white;
			transition-duration: .5s;

			&:hover {
				text-shadow: 0 0 .25px #fff;
			}
		}

		img {
			height: 25px;
			margin-right: .5em;
			vertical-align: middle;
		}
	}

	ul {
		display: block;
		width: 60%;
		padding: 0 1%;
		margin: 20px auto;
		background-color: darken($member__tile-bgc, 10%);
		text-align: left;
		border: 1px solid $white;

		list-style-type: none;

		li {
			display: block;
			margin: 1em;
			padding-bottom: 1em;
			border-bottom: 1px solid $white;

			&:last-child {
				border:none;
				padding-bottom: 0;
			}

			a {
				display: block;
				color: #127158;
				transition-duration: .5s;
				line-height: 2em;

				p {
					color: #343434;
					text-shadow: none;
					transition-duration: 1s;
					line-height: 1.5em;
				}

				&:hover {
					color: darken(#127158, 5%);
					text-shadow: 1px 1px 1px lighten(#127158, 20%);

					p {
						color: #121212;
						text-shadow: none;
					}
				}

				time {
					display: inline-block;
					padding: .5em;
					margin-right: 1em;
					background-color: $main-color;
					color: $white;
				}

				img {
					height: 25px;
					margin-right: .5em;
					vertical-align: middle;
				}
			}
		}


		&#fb_posts {
			margin: 0 auto;
			padding: 0 0 1em;
			width: 62%;
			background: rgba(255,255,255,0.5);

			li {
				display: block;
				margin: 2.5% 7.5%;
				min-height: 90px;
				max-width: 700px;
				border-bottom: 1px solid #777;
				word-wrap: break-word;
				overflow:hidden;

				&:first-child {
					margin: 0;
					padding: 0 20%;
					min-height: 0;
					background-color: darken($member__tile-bgc, 10%);
					border-bottom: 1px solid #fff;
				}

				&:last-child{
					border:none;
				}

				img {
					float:left;
					margin: 0 .5em;
					padding: 9px;
					border-radius: 50%;
				}

				p a {
					color: #343434;
					text-shadow: none;

					&:hover {
						color: #121212;
						text-shadow: none;
					}
				}
			}
		}
	}
}

.activity {
	height: 100%;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
	list-style-type: none;
	text-align: center;
	background: rgba(244,255,222,0.9);

	li {
		text-align: left;
		border-bottom: 1px solid #adadad;
		font-weight: 600;

		&:first-child a {
			font-size: 1.4em;
			padding: 40px;
			color: #565656;

			&:hover {
				color: black;
			}
		}

		&:last-child {
			border: none;
		}

		a {
			display: block;
			padding: 20px;
			color: #787878;
			transition: 0.4s;

			&:hover {
				color: #343434;
			}
		}

	}
}


#post {
	padding: 0 5% 5%;
	margin: 0 auto;
	min-height: 100%;
	max-width: 800px;
	background: rgba(244,255,222,0.9);
	line-height: 1.5em;
	text-align: center;

	header {
		height: 135px;
		margin: 0 auto 30px;
		border-bottom: 1px solid #777;

		h1 {
			padding: 1.2em 0 .6em;
			margin: 0 auto;
			font-size: 1.6em;
			font-weight: 600;
		}

		time {
			display: block;
			padding: 0;
			margin: 0 10%;
			text-align: center;
			color: #777;
			font-size: .8em;
		}
	}

	p {
		margin: 0 10% 30px;
		text-align: left;
	}

	a {
		color: $main-color;
		transition-duration: .4s;

		&:hover {
			color: darken($main-color,20%);
		}
	}

	ul {
		@extend p;

		ul {
			margin-bottom: 0;
		}
	}

	img {
		display: block;
		margin: 0 auto 30px;
		max-width: 85%;

	}

	iframe {
		margin: 10px 0 30px;
		width: 100%;
		min-height: 400px;
	}
}

.intro {
	background-color: rgba( 255, 255, 255, 0.6);

	p {
		height: 80%;
		padding: 1em;
		max-width: 960px;
		margin: 0 auto;
		vertical-align: top;
		line-height: 2em;

		&:first-child {
			text-indent:2em;
		}
	}
}

.member {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	background-color: $main-color;

	ul {
		margin: 0;

		li {
			display: inline-block;
			vertical-align: top;
			width: 300px;
			min-width: 150px;
			margin: 1em;
			color: $white;
			line-height: 2em;
			transition-duration: 0.5s;
			a {
				display: block;
				padding: 1em 2em 2em;
				color: $member__tile-bgc;

				strong {
					display: block;
					width: 65%;
					font-size: 1.25em;
					padding-bottom: .25em;
					margin: .25em auto;
					border-bottom: 1px solid $member__tile-bgc;
				}

				img {
					display: block;
					width: 100px;
					height: 100px;
					max-width: 100px;
					margin: 1em auto;
					border-radius: 50%;
					border: 2px solid $member__tile-bgc;
					padding: 5px;
				}
			}
		}
	}
}

#member_intro {
	padding: 20px;
	margin: 0 auto;
	width: 50vw;
	min-height: 100%;
	background: rgba(255, 255, 255, .7);
	text-align: center;

	header {
		width: 80%;
		padding: 0 5% 1em;
		margin: 0 auto 1em;
		border-bottom: 1px solid #127158;

		img {
			padding: 5px;
			width: 100px;
			height: 100px;
			border-radius: 50%;
		}

		div {
			display: inline-block;
			vertical-align: top;
			text-align: left;

			h1 {
				margin: .3em 30px 0;
				font-size: 2em;
			}

			p {
				margin-left: 30px;
				font-size: 1.2em;
			}
		}
	}

	> div {

		a {
			color: $main-color;
			font-weight: 600;
			transition-duration: .5s;

			&:hover {
				color: #127158;
			}
		}

		ul {
			display: inline-block;
			margin: 0 auto 1em;
			padding: 0;
			text-align: left;
			list-style-type: none;

			li {
				line-height: 2em;
			}
		}

		p {
			margin: 0 auto;
			padding-bottom: 2em;
			width: 75%;
			line-height: 1.5em;

		}
	}
}

.community {
	padding: 0;
	margin: 0 auto;
	text-align: center;

	li {
		display: block;
		width: 90%;
		margin: 20px auto;
		padding: 10px;
		text-align: left;
		line-height: 1.5em;
		background: rgba(255,255,255,0.6);
		border-radius: 10px;
		transition-duration: 0.5s;

		a {
			display: block;
			width: 900px;
			color: #565656;
			transition-duration: inherit;

			> div {
				display: inline-block;
				width: 500px;
				background-position: center center;
				text-align: center;
				font-size: 1.2em;
				color: #127158;
				border-radius: 10px;
				transition-duration: inherit;
				div {
					color: #fff;
					padding: 120px 0 30px;
					background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5)),;
					background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5)),;
					border-radius: 9px;
					font-weight: 600;
				}
			}

			p {
				display: inline-block;
				padding-top: 10px;
				margin: 0 1%;
				height: 20%;
				width: 300px;
				vertical-align: top;
				text-align: left;
			}

		}

		&:hover {
			background: rgba(255,255,255,0.8);

			a {
				color: #232323;
			}
		}
	}
}

#jobs {
	@extend .activity;
	width: 671px;
	padding: 0 20px;
	line-height: 1.5em;

	> li {
		width: 100%;

		h3 { margin: 0;}
	}

	p {
		margin: 0 0 1em;
		font-size: .7em;
		font-weight: 100;
	}

	.labels {
		padding: 0;

		li {
			display: inline-block;
			padding: 2px;
			color: $white;
			border-radius: 3px;
			box-shadow: 0 1px 1px #ccc;
			cursor: pointer;
		}
	}
}

#record {
	margin: 0 auto;
	padding: 20px;
	height: 100%;
	width: 100%;
	list-style-type: none;
	text-align: center;
	background: rgba(244,255,222,0.9);

	h1 {
		padding: 0 0 1em;
		border-bottom: 1px dashed #777;

	}

	table {
		margin: 30px auto 0;
		width: 100%;
		min-width: 750px;
		border-bottom: 1px solid #777;
  		border-collapse:collapse;

		&:first-child {
			margin-top: 0;
		}

		&.sum {
			width: 75%;
			margin: 0 0 60px auto;
			border-bottom: 0;

			span {
				font-weight: 600;
			}
		}

		caption {
			padding: 0 0 .5em;
			font-size: 1.5em;
			font-weight: 600;
			border-bottom: 1px solid #777;
		}

		tr {
			transition-duration: .5s;

			&:hover, &:active {
				color: #121212;
			}

			th {
				@extend td;
				border-bottom: 1px solid #777;
			}

			td {
				padding: 1em;
				vertical-align: center;
				overflow: hidden;
			}
		}
	}
}

@import 'layout';
