---
# enable jekyll to process, please do not remove these lines.
---
@import 'color';

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	> header {
		background-image: url('/images/banner.jpg');
		background-color: #ddd;
		padding-top: 150px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	> main {
		flex: 1;
		background-color: #d4f1a6;
		padding: .5em;
	}
	> footer {
		text-align: center;
		padding: 2em;
		color: #fff;
		background-color: #127158;
	}
}

h1 {
	text-align: center;
}

a {
	text-decoration:none;
}

#navigation {
	background-color: $main-color;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 1.2em;
	text-align: center;
	> li {
		list-style-type: none;
		display: inline-block;
		margin: 0 1em;
		padding: .2em .5em;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
}

ul.activity {
	height: 110%;
	width: 55%;
	padding: 0 20px;
	margin: -8px auto 0;
	list-style-type: none;
	text-align: center;
	background: rgba(244,255,222,0.9);
	li {
		text-align: left;
		border-bottom: 1px solid #adadad;
		font-weight: 600;
		&:first-child a{
			font-size: 1.4em;
			padding: 40px;
			color: #565656;
			&:hover {
				color: black;
			}
		}
		a {
			display: block;
			padding: 20px;
			color: #787878;
			transition: 0.4s;
			&:hover {
				color: #343434;
			}
		}
	}
}


#post {
	max-width: 800px;
	margin: 0 auto;
	img {
		max-width: 100%;
	}
}

ul.member {
	max-width: 34%;
	margin: 0 auto;
	li {
		margin: 1em 0;
		text-align: left;
		list-style-type: none;
		border-radius: 20px;
		background: rgba(255,255,255,0.6);
		transition-duration: 0.5s;
		&:hover{
			background: rgba(255,255,255,0.9);
		}
		a{
			padding: 10px 25px 5px;
			display: block;
			img {
				width: 25%;
				display: inline-block;
				opacity: 0.85;
				border-radius: 22%;
			}
			div {
				display: inline-block;
				width: 55%;
				padding: .5em 1em;
				margin-down: 1em;
				margin-left: .5em;
				vertical-align: top;
				color: $main-color;
				border-radius: 25px;
				h3 {
					margin: 0;
					padding-bottom: 5px;
					border-bottom: 1px solid #676767;
					box-shadow: 0 1px #9a9a9a;
				}
			}
		}
	}
}
