---
# enable jekyll to process, please do not remove these lines.
---
@import 'reset';
@import 'color';

body {
	font-family:  "Arial", "微軟正黑體", "Microsoft Jhenghei" ;
	min-height: 100vh;
	width: 100%;
	background-color: $member__tile-bgc;
	> header {
		background-image: url('/images/banner.jpg');
		background-color: #ddd;
		padding-top: 150px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	> main {
		max-width: 1280px;
		margin: 0 auto;
	}
	> footer {
		text-align: center;
		padding: 2em;
		color: $white;
		background-color: #127158;
	}
}

h1 {
	text-align: center;
}

a {
	text-decoration:none;
}

#navigation {
	background-color: $main-color;
	margin: 0;
	padding: 0;
	color: $white;
	font-size: 1.2em;
	text-align: center;
	> li {
		list-style-type: none;
		display: inline-block;
		margin: 0 1em;
		padding: .2em .5em;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
}

.home {
	text-align: center;
	ul {
		display: inline-block;
		width: 45%;
		padding: 0 1%;
		margin: 20px auto;
		vertical-align: top;
		background-color: darken($member__tile-bgc, 10%);
		text-align: left;
		border: 1px solid $white;
		list-style-type: none;
		&:first-child {margin-right: 1em;}
		li {
			display: block;
			margin: 1em;
			border-bottom: 1px solid $white;
			a {
				display: block;
				color: #127158;
				transition-duration: .5s;
				p {
					color: #343434;
					text-shadow: none;
					transition-duration: 1s;
				}
				&:hover {
					color: darken(#127158, 5%);
					text-shadow: 1px 1px 1px lighten(#127158, 20%);
					p {
						color: #121212;
						text-shadow: none;
					}
				}
				time {
					display: inline-block;
					padding: .5em;
					margin-right: 1em;
					background-color: $main-color;
					color: $white;
				}
				img {
					height: 25px;
					margin-right: .5em;
					vertical-align: middle;
				}
			}
		}
	}
}

.activity {
	height: 110%;
	width: 55%;
	padding: 0 20px;
	margin: 0 auto;
	list-style-type: none;
	text-align: center;
	background: rgba(244,255,222,0.9);
	li {
		text-align: left;
		border-bottom: 1px solid #adadad;
		font-weight: 600;
		&:first-child a{
			font-size: 1.4em;
			padding: 40px;
			color: #565656;
			&:hover {
				color: black;
			}
		}
		a {
			display: block;
			padding: 20px;
			color: #787878;
			transition: 0.4s;
			&:hover {
				color: #343434;
			}
		}
	}
}


#post {
	max-width: 800px;
	margin: 0 auto;
	img {
		max-width: 100%;
	}
}

.intro {
	background-color: rgba( 255, 255, 255, 0.6);
	p {
		display: inline-block;
		height: 80%;
		margin-top: 0;
		padding: 1em;
		vertical-align: top;
		line-height: 2em;
		&:first-child {text-indent:2em;}
	}
}

.member {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	background-color: $main-color;
	li {
		display: inline-block;
		vertical-align: top;
		width: 230px;
		min-width: 150px;
		margin: 1em;
		color: $white;
		line-height: 2em;
		transition-duration: 0.5s;
		a {
			display: block;
			padding: 1em 2em 2em;
			color: $member__tile-bgc;
			strong {
				display: block;
				width: 65%;
				font-size: 1.25em;
				padding-bottom: .25em;
				margin: .25em auto;
				border-bottom: 1px solid $member__tile-bgc;
			}
			img {
				display: block;
				width: 100%;
				height: auto;
				max-width: 100px;
				margin: 1em auto;
				border-radius: 50%;
				border: 2px solid $member__tile-bgc;
				padding: 5px;
			}
		}
	}
}

.community {
	list-style-type: none;
	padding-left: 0;
	margin: 0 auto;
	text-align: center;
	width: 75%;
	li {
		height: 225px;
		width: 25%;
		margin: 20px 10px;
		padding: 10px;
		display: inline-block;
		vertical-align: top;
		line-height: 1.5em;
		background: rgba(255,255,255,0.6);
		border-radius: 10px;
		transition-duration: 0.5s;
		a {
			height: 100%;
			display: block;
			color: #565656;
			transition-duration: inherit;
			.title {
				padding: 30px 0;
				margin-bottom: 15px;
				background: darken($member__tile-bgc, 5%);
				font-size: 1.2em;
				color: #127158;
				border-radius: inherit;
				transition-duration: inherit;
			}
			p {
				height: 20%;
				text-align: left;
			}
			.btn {
				margin: 20px auto;
				padding: 10px;
				width: 20%;
				background: $main-color;
				color: $white;
				border-radius: 15px;
				&:hover {
					background: darken( $main-color, 5%);
				}
			}
		}
		&:hover {
			background: rgba(255,255,255,0.8);
			a {
				color: #232323;
				div.title {
					background: $main-color;
					color: $white;
				}
			}
		}
	}
}
