---
# enable jekyll to process, please do not remove these lines.
---
@import 'color';

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	> header {
		background-image: url('/images/banner.jpg');
		background-color: #ddd;
		padding-top: 150px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	> main {
		flex: 1;
		background-color: #d4f1a6;
		padding: .5em;
	}
	> footer {
		text-align: center;
		padding: 2em;
		color: #fff;
		background-color: #127158;
	}
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
}

#navigation {
	background-color: $main-color;
	margin: 0;
	color: #fff;
	font-size: 1.2em;
	text-align: center;
	> li {
		list-style-type: none;
		display: inline-block;
		margin: 0 1em;
		padding: .2em .5em;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
}

#content {
	> ul li {
		margin: .5em 0;
	}
}

#post {
	max-width: 800px;
	margin: 0 auto;
	img {
		max-width: 100%;
	}
}

ul.member {
	max-width: 34%;
	margin: 0 auto;
	li {
		padding-top: 10px;
		padding-left: 25px;
		text-align: left;
		list-style-type: none;
		border-radius: 20px 20px;
		background: rgba(255,255,255,0.6);
		transition-duration: 0.5s;
		img {
			width: 25%;
			display: inline-block;
			opacity: 0.85;
			border-radius: 25px;
		}
		div {
			display: inline-block;
			width: 55%;
			padding: .5em 1em;
			margin-down: 1em;
			margin-left: .5em;
			vertical-align: top;
			color: $main-color;
			border-radius: 25px;
			h3 {
				margin: 0;
			}
			hr {
				margin-top: 0;
			}
		}
		&:hover {
			background: rgba(255,255,255,0.9);
		}
	}
}

ul.community {
	list-style-type: none;
	padding-left: 0;
	margin: 0 auto;
	text-align: center;
	width: 75%;
	li {
		height: 225px;
		width: 25%;
		margin: 20px 10px;
		padding: 10px;
		display: inline-block;
		vertical-align: top;
		line-height: 1.5em;
		background: rgba(255,255,255,0.6);
		border-radius: 10px;
		transition-duration: 0.5s;
		a {
			height: 100%;
			display: block;
			color: #565656;
			transition-duration: inherit;
			div.title {
				padding: 30px 0;
				margin-bottom: 15px;
				background: darken(#D4F1A6, 5%);
				font-size: 1.2em;
				color: #127158;
				border-radius: inherit;
				transition-duration: inherit;
			}
			p {
				height: 20%;
				text-align: left;
			}
			div.btn {
				margin: 20px auto;
				padding: 10px;
				width: 20%;
				background: $main-color;
				color: #fff;
				border-radius: 15px;
				&:hover {
					background: darken( $main-color, 5%);
				}
			}
		}
		&:hover {
			background: rgba(255,255,255,0.8);
			a {
				color: #232323;
				div.title {
					background: $main-color;
					color: #fff;
				}
			}
		}
	}
}
