<nav class="nav" id="navigation">
  <a href="#navigation" class="nav__trigger"></a>

	<ul class="navigation ul-reset">
		<li class="navigation__item {% if page.title == "Home" %}current{% endif %}">
			<a class="navigation__item__link" href="/">最新消息</a>
		</li>
		<li class="navigation__item {% if page.title == "活動紀錄" %}current{% endif %}">
			<a class="navigation__item__link" href="/activity.html">活動紀錄</a>
		</li>
		<li class="navigation__item {% if page.title == "社團相關專案" %}current{% endif %}">
			<a class="navigation__item__link" href="/repos.html">相關專案</a>
		</li>
		<li class="navigation__item {% if page.title == "徵才職缺" %}current{% endif %}">
			<a class="navigation__item__link" href="/jobs.html">徵才職缺</a>
		</li>
		<li class="navigation__item {% if page.title == "收支記錄" %}current{% endif %}">
			<a class="navigation__item__link" href="/records.html">收支報告</a>
		</li>
		<li class="navigation__item {% if page.title == "關於我們" %}current{% endif %}">
			<a class="navigation__item__link" href="/about.html">關於我們</a>
		</li>
	</ul>

  <a href="###" class="nav__label--reset"></a>
</nav>
