<nav>
	<input type="checkbox" id="nav-trigger" />
	<label for="nav-trigger">
		<img src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-plain/422/06_menu_stack-128.png" alt="menu-icon" style="height:20px; width:20px;">
	</label>

	<ul id="navigation">
		<li><a href="/">最新消息</a></li>
		<li><a href="/activity.html">活動紀錄</a></li>
		<li><a href="/about.html">關於我們</a></li>
		<li><a href="/community.html">社群串連</a></li>
		<li><a href="/jobs.html">徵才職缺</a></li>
		<li><a href="https://docs.google.com/spreadsheet/ccc?key=0AmI-b6ZMMKGtdFROODkzZUNGTEltMkNMYl85OUhuZ3c#gid=1" target="_blank">收支報告</a></li>
	</ul>
</nav>
