<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<link href="/style.css" rel="stylesheet"/>
		<link rel="alternate" type="application/rss+xml" title="FEED" href="atom.xml">
		<title>{{ page.title }}{{ title or file.page.title}}&mdash;F2ETW</title>
		<meta property="og:url" content="http://www.f2e.tw/{{ page.url }}"/>
		<meta property="og:title" content="Front-End Developers, you are cordially invited to join!"/>
		<meta property="og:image" content="http://www.f2e.tw/f2e_logo_2.png"/>
		<meta property="og:site_name" content="www.f2e.tw"/>
		<meta property="og:description" content="希望前端能夠成為台灣一個成熟的產業!主要討論: 前端網頁技術，使用者介面探討，網頁設計。HTML，CSS，JavaScript等語言技術討論，瀏覽器開發工具。iOS, Android 等 Mobile App 使用者介面相關議題討論。也歡迎前端經驗分享，以及企業徵才。"/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
	</head>
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
  		var js, fjs = d.getElementsByTagName(s)[0];
  		if (d.getElementById(id)) return;
  		js = d.createElement(s); js.id = id;
  		js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=764801763582382";
  		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<header>
			{% if contents or file %}
			{% include '../_includes/nav.html' %}
			{% else %}
			{% include nav.html %}
			{% endif %}
		</header>
		<main>
			{{ content | safe }}{{ contents | safe }}
		</main>
		<footer>
			F2E Taiwan Community. <div class="fb-like" data-href="http://www.f2e.tw{{ page.url }}" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
		</footer>
	</body>
</html>
