<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8"/>
	<link href="style.css" rel="stylesheet"/>
	<link rel="alternate" type="application/rss+xml" title="FEED" href="atom.xml">
	<title>{{ page.title }}{{ title }}&mdash;F2ETW</title>
</head>
<body>
	<header>
		{% if contents %}
		{% include '../_includes/nav.html' %}
		{% else %}
		{% include nav.html %}
		{% endif %}
	</header>
	<main id="content">
{{ content }}{{ contents | safe }}
	</main>
	<footer>
		F2E Taiwan Community
	</footer>
</body>
</html>
