<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/style.css" rel="stylesheet"/>
		<link rel="alternate" type="application/rss+xml" title="FEED" href="atom.xml">
		<title>{{ page.title }}{{ title or file.page.title}}&mdash;F2ETW</title>
		<meta property="og:url" content="http://www.f2e.tw{{ page.url }}"/>
		<meta property="og:title" content="Front-End Developers, you are cordially invited to join!"/>
		<meta property="og:image" content="http://www.f2e.tw/f2e_logo_2.png"/>
		<meta property="og:site_name" content="www.f2e.tw"/>
		<meta property="og:description" content="希望前端能夠成為台灣一個成熟的產業!主要討論: 前端網頁技術，使用者介面探討，網頁設計。HTML，CSS，JavaScript等語言技術討論，瀏覽器開發工具。iOS, Android 等 Mobile App 使用者介面相關議題討論。也歡迎前端經驗分享，以及企業徵才。"/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
	</head>
	<body>
		<header class="header">
			{% if contents or file %}
			{% include '../_includes/nav.html' %}
			{% else %}
			{% include nav.html %}
			{% endif %}
		</header>
		<main class="workspace">
			{{ content | safe }}{{ contents | safe }}
		</main>
		<footer>
			<a class="" href="/community.html">社群串連</a>
			<a class="" href="/contribute.html">熱情貢獻</a>
			<br>
			<a href="https://fb.com/groups/f2etw">F2E Taiwan Community.</a>
		</footer>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-64084300-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</body>
</html>
